.container-1{
    padding-left: 150px;
    padding-right: 150px;
}
.container-2{
    padding-left: 125px;
    padding-right: 125px;
    display: flex;
    flex-direction: row;
}
.container-3{
    padding: 0 125px 0 125px;
}
.container-4{
    padding: 50px 125px 50px 125px;
    display: flex;
    flex-direction: row;
}
.container-5{
    padding: 50px 125px 50px 125px;
    display: flex;
    flex-direction: row;
}
.container-6{
    padding: 0 125px 0 125px;
}
.container-7{
    padding: 50px 125px 50px 125px;
    display: flex;
    flex-direction: row;
}
.container-8{
    padding: 0 125px 0 125px;
}
.container-9{
    display: flex;
    flex-direction: row;
}
.container-11{
    padding: 0 125px 0 125px;
}
.container-12{
    padding: 50px 125px 50px 125px;
    display: flex;
    flex-direction: row;
}
.container-13{
    padding: 50px 125px 50px 125px;
}
.zero{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 75px;
}
.one{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 75px;
}
.two{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 100px;
}
.three{
    padding: 50px 125px 50px 125px;
    display: flex;
    flex-direction: column;
}
.four{
    padding: 50px 125px 0 125px;
    display: flex;
    flex-direction: row;
}
.collapse{
    padding-left: 300px;
}
.nav-item{
    background-color: black;
    padding-left: 5px;
}
.navbar-brand{
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-weight: bold;
}
